= simple_form_for(@product) do |f|
  = f.input :name
  = f.input :category
  = f.input :description
  = f.input :barcode
  = f.input :ncm
  = f.input :unit
  = f.input :value
  = f.input :quantity

  = f.submit "Salvar"