%tr{id: "product_#{product.id}"}
  %th= product.name
  %th= number_to_currency product.value
  %th= l product.created_at, format: :short
  %th
    = link_to 'Ver', product_path(product), class: 'btn btn-xs btn-default'
    = link_to 'Editar', edit_product_path(product), class: 'btn btn-xs btn-default'
    = link_to 'Remover', product_path(product), method: :delete, class: 'btn btn-xs btn-danger'