%h1 Listagem de produtos
= link_to "Cadastrar produto", new_product_path, class: 'btn btn-primary'
%button.btn.btn-primary{"data-target" => "#import_files", "data-toggle" => "modal", :type => "button"}
  Importar produtos

#import_files.modal.fade{"aria-labelledby" => "import_files_label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#import_files_label.modal-title Importar arquivos
      .modal-body
        = simple_form_for @import_file, url: import_products_path do |f|
          = f.input :file
          = f.submit "Importar", class: 'btn btn-primary'        

%table.table
  %thead
    %tr
      %th Nome
      %th Valor
      %th Criado em
      %th
  %tbody
    - if @products.empty?
      %tr
        %td(colspan="4") Ainda não há produtos cadastrados.
    - else
      = render @products
= paginate @products